/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  background-image: url('./assets/blog-background-image.png');
}

section {
  background-color: aliceblue;
  border-radius: 5px;
}

.container article,
h2,
.flex {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
}